<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>

		<title>Edit Tweet</title>
	</head>
	<body>
		<nav><%- include ('../partials/nav.ejs') %></nav>
		<h1>Create New Tweet</h1>
		<form action="/home/editTweet/<%=tweet_id%>" method="POST">
			<label for="label">User:</label>
			<input
				type="text"
				name="username"
				value="<%=currentUser.username%>"
				readonly
			/>
			<label for="profile_img">Profile-img:</label>
			<input
				type="text"
				name="profile_img"
				value="<%=currentUser.img%>"
				readonly
			/>
			<!-- <label for="title">Title:</label>
			<input type="text" name="title" required /> -->
			<label for="body">Body:</label>
			<input type="textarea" name="body" required />
			<label for="img">Img:</label>
			<input type="text" name="img" optional />
			<label for="privacy">Check if Public</label>
			<input type="checkbox" name="privacy" />
			<input type="submit" name="submit" />
		</form>
	</body>
</html>
