<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>

		<title><%=view_user.username%>'s Page | Tweet-City</title>
	</head>
	<body>
		<nav><%- include ('../partials/nav.ejs') %></nav>
		<h1>User: <%=view_user.username%></h1>
		
		<% if (currentUser.username !== view_user.username) {%>
		<form
			action="/home/<%=currentUser._id%>/addFollower/<%=view_user.username%>?_method=PUT>"
			method="POST"
		>
			<button>Follow</button>
		</form>
		<%} else {%> <form action="/user/edit/<%=currentUser._id%>"> <button>Edit User</button></form> <%}%>
		


		<div class="container-fluid userpage">
		<% if (view_user.img !== '') {%>
			<img src="<%=view_user.img%>" alt="profile-img">
		<%}%>
		<% if (view_user.biography !== '') {%>
			<p class="biography"><%=view_user.biography%></p>
		<%}%>
		<% if (view_user.backgroundimg !== '') {%>
			<img src="<%=view_user.backgroundimg%>" class="background-img" alt="backgroundimg-not-found">
		<%}%>
	</div>		
		<div class="container-fluid">
			
			<% tweets.reverse()
			for (let i=0; i<tweets.length; i++) {%>
				<div class="container tweetcontainer">
					<div class="container userTweetInfo">
						
						<h5><%=tweets[i].username%></h5>
						<p class="tweet-body"><%=tweets[i].body%></p>
						<% if (tweets[i].img !== '') {%>
							<img src="<%=tweets[i].img%>" class='tweet-img' alt="tweet-img-not-found">
						<%}%>
						<a href="/home/editTweet/<%=tweets[i]._id%>"><button>Edit</button></a>
						<form action="/home/deletetweet/<%=tweets[i]._id%>?_method=DELETE" method="POST"><button>Delete</button></form>
					</div>
					
					
					<%=tweets[i]%>
				</div>
				
			<%}%>
			
		</div>
	</body>
</html>
