<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>
		<title>Document</title>
	</head>
	<body>
		<nav><%- include ('../partials/nav.ejs') %></nav>

	<div class="container-fluid">
			
			<% tweets.reverse()
			for (let i=0; i<tweets.length; i++) {%>
				<div class="container tweetcontainer">
					<div class="container userTweetInfo">
						
						<h5><%=tweets[i].username%></h5>
						<p class="tweet-body"><%=tweets[i].body%></p>
						<% if (tweets[i].img !== '') {%>
							<div class="text-center"><img src="<%=tweets[i].img%>" class='tweet-img' alt="tweet-img-not-found"></div>
							
						<%}%>
					</div>
					
					
					<%=tweets[i]%>
				</div>
				
			<%}%>
			
		</div>
		
	</body>
</html>
