<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>
		<title>Tweet-City | Feed</title>
	</head>
	<body>
		<nav><%- include ('../partials/nav.ejs') %></nav>

	<div class="container-fluid">
			
			<% tweets.reverse()
			for (let i=0; i<tweets.length; i++) {%>
				<div class="container tweetcontainer">
					<div class="container userTweetInfo">
						<% if (tweets[i].profile_img === '') {%>
							
							<img class="profile_img_in_tweet" src="https://imgur.com/P3KTqIM.png" alt="err_in_profile_img">
						<%} else if (tweets[i].profile_img !== ""){%>  <img class="profile_img_in_tweet" src="<%=tweets[i].profile_img%>" alt="err_in_profile_img"> <%}%>
						
						<h5><%=tweets[i].username%></h5>
						<p class="tweet-body"><%=tweets[i].body%></p>
						<% if (tweets[i].img !== '') {%>
							<div class="text-center"><img src="<%=tweets[i].img%>" class='tweet-img' alt="tweet-img-not-found"></div>
							
						<%}%>
					</div>
					
					
					
				</div>
				
			<%}%>
			
		</div>
		
	</body>
</html>
